<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.abc_connected">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission
        android:name="android.permission.INTERNET"
        tools:ignore="ManifestOrder" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ABC_connected">
        <activity
            android:name=".EditarTreino1"
            android:exported="false" />
        <activity
            android:name=".CriarTreino"
            android:exported="false" />
        <activity
            android:name=".EditarAdmin"
            android:exported="false" />
        <activity
            android:name=".EditarTreinador"
            android:exported="false" />
        <activity
            android:name=".EditarAtleta"
            android:exported="false" />
        <activity
            android:name=".CriarAdmin"
            android:exported="false" />
        <activity
            android:name=".CriarTreinador"
            android:exported="false" />
        <activity
            android:name=".CriarAtleta"
            android:exported="false" />
        <activity
            android:name=".Admin"
            android:exported="false" />
        <activity
            android:name=".Atletas"
            android:exported="false" />
        <activity
            android:name=".Treinadores"
            android:exported="false" />
        <activity android:name=".Menu" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".EditarEquipa" />
        <activity android:name=".EditarEquipa1" />
        <activity android:name=".EditarEquipa2" />
        <activity android:name=".EditarEquipa3" />
        <activity android:name=".EditarEquipa4" />
        <activity android:name=".EditarEquipa5" />
        <activity android:name=".Criar_Equipa" />
        <activity android:name=".Vizz" />
        <activity android:name=".CriarJogo"/>
        <activity android:name=".JogoJogadas"/>
        <activity android:name=".JogoJogadas1"/>
        <activity android:name=".JogoJogadas2"/>
        <activity android:name=".JogoJogadas3"/>
        <activity android:name=".JogoJogadas4"/>
        <activity android:name=".ListaJogo"/>
        <activity android:name=".VerEstatísticas"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>